@model IEnumerable<Librarian.Logic.TinyPM.UserStory>

@{
    ViewBag.Title = "Backlog";
}

<h2>Backlog</h2>
@if (Model.Any())
{
    <ol class="backlog">
        @foreach (var story in Model)
        {
            <li class="story-color-@story.ColorKey">
                <span class="story-id">#@story.Id</span>
                <div>
                    <span>@story.Name</span>
                    <span class="metadata">Current rank: @story.Position</span>
                </div>
            </li>
        }
    </ol>
}
else
{
    <p>No stories found.</p>
}