@{
    ViewBag.Title = "";
}

<h2>Librarian</h2>
<p>
    tinyPM doesn't have a great interface for dealing with a larger backlog.
</p>
<p>
    I wanted to be able to see more data on the screen, reposition entire groups
    of user stories at once and assign colors in-place. This is what Librarian is for.
</p>
@Html.RouteLink("Get Started", RouteNames.ListProjects)