html
{
    margin: 0;
    padding: 0;
}

body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc')";
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
    background: -moz-linear-gradient(top,  #eee,  #ccc);
    background-color: #ddd;
}

    header h1
    {
        margin: 0 0 0 15px;
        padding: 0;
        font-size: 25px;
        font-weight: normal;
        float: left;
    }

        header h1 span { display: none; }

        header h1 a:hover span { display: inline; font-size: 60%; color: #555; }

    header nav
    {
        display: block;
        float: right;
        margin-right: 15px;
    }

        header nav ul
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
            float: left;
        }

        header nav ul li
        {
            margin: 0 0 0 15px;
            padding: 0;
            float: left;
        }

    header a:link,
    header a:active,
    header a:visited
    {
        color: #000;
        text-decoration: none;
    }

    header nav a:hover
    {
        text-decoration: underline;
    }

.content-holder
{
    padding: 15px;
    min-height: 600px;
}

footer
{
    display: block;
    margin: 20px 0 10px 0;
    font-size: 11px;
    color: #bbb;
    text-align: center;
    text-transform: uppercase;
}

    footer a:link,
    footer a:active,
    footer a:visited { color: #bbb; }

    footer:hover,
    footer:hover a:link,
    footer:hover a:active,
    footer:hover a:visited { color: #777; }

h2 { margin-top: 0; }

.welcome-panel
{
    width: 600px;
    margin: 50px auto;
}

.field-validation-error
{
    color: #f00;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid
{
    display: none;
}

ol.backlog
{
    list-style-type: none;
    padding: 0;
}

    ol.backlog li
    {
        width: 100%;
        height: 3em;
        overflow: hidden;
        position: relative;
        margin-bottom: 0.25em;
    }

    ol.backlog li:hover
    {
        background-color: #f0f0f0;
    }

        ol.backlog li .story-id,
        ol.backlog li .estimated-effort,
        ol.backlog li div
        {
            position: absolute;
            top: 0;
        }

        ol.backlog li .story-id
        {
            left: 0;
            background-color: #eee;
            width: 4em;
            height: 3em;
            line-height: 3em;
            vertical-align: middle;
            text-align: center;
            cursor: move;
        }

        ol.backlog li.story-color-WHITE .story-id  { background-color: #f9f9f9; }
        ol.backlog li.story-color-YELLOW .story-id { background-color: #fff1b9; }
        ol.backlog li.story-color-ORANGE .story-id { background-color: #ffc68c; }
        ol.backlog li.story-color-RED .story-id    { background-color: #ffc4b9; }
        ol.backlog li.story-color-GREEN .story-id  { background-color: #dbffb7; }
        ol.backlog li.story-color-BLUE .story-id   { background-color: #c6d7e8; }

        ol.backlog li .estimated-effort
        {
            right: 0;
            width: 3em;
            padding: 0.5em;
            height: 2em;
            line-height: 2em;
            vertical-align: middle;
            text-align: center;
        }

        ol.backlog li .unestimated { color: #f88; }

        ol.backlog li div
        {
            padding: 0.25em 0;
            height: 2.5em;
            left: 5em;
            margin-right: 4em;
        }

        ol.backlog li div span
        {
            display: block;
        }

        ol.backlog li div .description
        {
            color: #ddd;
            font-size: 80%;
            width: 100%;
            height: 1.3em;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        ol.backlog li:hover div .description
        {
            color: #000;
        }